body {
    background-image: linear-gradient(30deg, blue, orange, blue, orange);
}
#background-img {
    height: 90vh;
    width: 97vw;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#ticket-img {
    height: 50vh;
    width: 27vw;
}

.centered-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230%, 450%);
    text-align: center;
    color: white;
}

.centered-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 450%);
    text-align: center;
    color: white;
}

.centered-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(250%, 450%);
    text-align: center;
    color: white;
}
.footer {
    text-align: left;
}
.bottom {
    background-color: rgb(93, 98, 102);
}